.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #23272f;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-height: 1800px;
  min-width: 850px;
}

#main-content {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  height: 30px;
  width: 770px;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

#apiInput {
  width: 325px;
}

.setup-steps {
  font-size: 1rem;
  color: #fff;
}

.header {
  width: 800px;
  font-size: 2.5rem;
  border-bottom: solid;
  border-width: 5px;
  /* color: #00b188; */
  color: #fff;
}

body,
html {
  display: flex;
  margin: 0px;
  font-family: "Prompt", sans-serif;
  width: 100vw;
  height: 100vh;
}

#status {
  color: white;
  font-size: 1rem;
}

.gif {
  height: 500px;
  object-fit: contain;
  margin-top: 10px;
}

.gif-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  flex-direction: column;
}

.how-to-steps {
  font-size: 1rem;
  color: #fff;
}

.logo-div {
  width: 800px;
  height: 80px;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  gap: 10px;
}

.sub-header {
  width: 800px;
  font-size: 1rem;
  color: #fff;
}

#submitButton {
  background-color: transparent;
  color: #fff;
  border: solid;
  border-radius: 5px;
}

.faq {
  width: 800px;
  font-size: 1rem;
  color: #fff;
  font-style: italic;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.expand {
  font-size: 1.5rem;
  /* background-color: #00b188; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  border: solid;
}

.api-usage {
  width: 800px;
  background-color: #0082b1;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
  border: solid;
  color: #fff;
}

#agree-button {
  background-color: #0082b1;
  color: white;
  font-size: 1.2rem;
  border: solid white 1px;
  margin-top: 30px;
}
