.main-div-welcome {
  background-color: #23272f;
  width: 400px;
  height: 500px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.logo-welcome {
  width: 150px;
  height: 50px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 100px;
}

.header1-text {
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.header2-text {
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.header2-wrapper {
  width: 100%;
}

.button-welcome {
  width: calc(100% - 100px);
  background-color: #00b188;
  color: #fff;
  height: 30px;
  border: none;
  font-weight: bold;
}
