.loading {
  width: 400px;
  height: 600px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: #fff;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
}
